@model IEnumerable<BowlingAlleyWeb.Models.BookingSlots>

@{
    ViewData["Title"] = "GetFreeSlots";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Free Slots</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SlotId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SlotStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SlotEndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SlotId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SlotStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SlotEndTime)
            </td>
            <td>
                @Html.ActionLink("Book Slot", "BookSlots", item)
            </td>
        </tr>
}
    </tbody>
</table>
